name: Publish Package NPM
on:
  release:
    types:
      - created
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install modules
        run: yarn
      - name: Publish
        run: yarn publish-eslint-config-react
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
